In [2]:
import os
from os import path
import sys
sys.path.append('..')

import numpy as np
import pandas as pd

import collections

import utils

import logging as log
log.basicConfig(level=log.DEBUG)

In [3]:
DATA_FOLDER = path.join('..', 'data')
RESULTS_FOLDER = path.join('..', 'results')

STATES = ['AC', 'AL', 'AM', 'AP', 'BA', 'CE',
         'DF', 'ES', 'GO', 'MA', 'MT', 'MS',
         'MG', 'PA', 'PB', 'PR', 'PE', 'PI',
         'RJ', 'RN', 'RO', 'RS', 'RR', 'SC',
         'SE', 'SP', 'TO']

MODELS = ['linear-regression', 'exponential-holt']

STRATEGIES = [
    'aggregated',
    'windowed'
]

METRICS = ['MAE', 'RMSE', 'MSLE']

# Load results

In [6]:
df_results_agg = pd.read_csv(path.join(RESULTS_FOLDER, 'results-aggregated.csv'), index_col=0)
df_results_agg.head()

,state,model,metric,yhat_model_1_to_7,yhat_model_1_to_8,yhat_model_1_to_9,yhat_model_1_to_10,yhat_model_1_to_11,yhat_model_1_to_12,yhat_model_1_to_13,...,yhat_model_1_to_48,yhat_model_1_to_49,yhat_model_1_to_50,yhat_model_1_to_51,yhat_model_1_to_52,yhat_model_1_to_53,yhat_model_1_to_54,yhat_model_1_to_55,yhat_model_1_to_56,yhat_model_1_to_57
0,AC,linear-regression,MAE,5.142857,5.671429,4.376667,3.597576,4.750303,7.825874,9.117216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AC,linear-regression,RMSE,6.061252,6.727641,5.474591,4.247599,5.916909,8.824073,9.825322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AC,linear-regression,MSLE,0.016516,0.019184,0.012799,0.006441,0.009819,0.021202,0.025726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AC,exponential-holt,MAE,222374.230482,215775.769707,197686.743561,172033.297542,152182.612115,134539.200453,113709.690026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AC,exponential-holt,RMSE,493530.565129,472875.913024,427387.925609,366567.667559,319606.876322,278431.925268,231676.086834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Create a pipeline for preprocessing

### 1. Select a state

In [ ]:
def get_state(df, state='CE'):
    return df.